body {
    font-family: 'Poppins';
    background-color: #010101;
    margin: 50px;
}

.header {
    text-align: center;
    font-size: 40px;
    color:white;
}

.center {
    font-size: 15px;
    text-align: center;
    color: white;
  }

.sub-title {
    margin-top: 40px;
    color: white;
}

.links {
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
    border-radius: 15px;
    text-align: center;
    border: 3px solid #010101;
    background-color: #f8f7f7;
    box-shadow: 5px 10px #888888;
  }

a {
    color: #010101;
    font-weight: 500px;
}

.links:hover {
    margin-right: 3%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}